set timeout=0
set default=0

menuentry "Rootware" {
    multiboot2 /boot/rootware
    module2 /boot/echo-service echo-service
    module2 /boot/ipc-client ipc-client
    module2 /boot/hello hello
    module2 /boot/rkm-driver rkm-driver
    module2 /boot/zero-driver zero-driver
    boot
}
